* {
    font-family: Poppins, sans-serif;
    font-style: normal;
    text-decoration: none;
}

body{
    padding: 0;
    margin: 0;
}

body > section:first-child{
    margin-bottom: 75px;
}

.body > section:last-child{
    margin-top: 75px;
}

.body > section{
    margin: 75 0px;
}

.nav {
    height: 80px;
    justify-content: center;
    align-items: center;
}

.row{
    display: flex;
    flex-direction: row;
}

.row-center{
    align-items: center;
    /* justify-content: center; */
}

.content-container{
    max-width: 1120px;
    justify-content: center;
}

#logo{
    height: 40px;
    margin-right: 16px;
}

#title{
    color: #173A56;
    font-size: 1.88em;
    font-weight: 700;
    line-height: 28px; /* 93.333% */
}

.nav-bar-wrapper{
    justify-content: space-between;
    width: 100%;
}

.nav-links-container > a {
    /* display: flex; */
    /* justify-content: space-between; */
    color: #22343D;
    font-size: 1em;
    font-weight: 600;
    line-height: 28px; /* 175% */
    padding: 0px 10px;
    position: relative;
}

.primary-button{
    -webkit-border-radius: 5;
    -moz-border-radius: 5;
    border-radius: 5px;
    /* height: 50%; */
    color: #ffffff;
    cursor: pointer;
    margin: 12px;
    font-size: 1em;
    background: #02897A;
    padding: 5px 15px 5px 15px;
    text-align: center;
    /* white-space: pre; */
    /* position: relative; */
}

.primary-button:hover{
    background: #00a68d;
}

.outline-button{
    -webkit-border-radius: 5;
  -moz-border-radius: 5;
  border-radius: 5px;
  cursor: pointer;
  color: #4f4f4f;
  margin: 12px;
  font-size: 1em;
  background: #ffffff;
  padding: 5px 15px 5px 15px;
  border: solid #e8e8e8 2px;
}

.outline-button:hover{
    background: #e3e3e3;
}

.first-section-buttons{
    align-self: normal;
    margin-left: 0px;
}

.first-section-button{
    align-self: normal;
    margin-left: 0px;
    white-space: nowrap;
}

.link-first-section{
    position: relative;
    left: 8px;
    color: #02897A;
    font-size: 1em;
    font-weight: 600;
    line-height: normal;
    text-decoration-line: underline;
    background-color: transparent;
    border: none;
}

.section-row-4-col{
    display: flex;
    justify-content: space-between;
}

.section-row-4-col-item{
    display: flex;
    flex-direction: column;
    align-items: center;

}


.no-wrap-text {
    white-space: nowrap;
}

.switch-theme-button{
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: #f3f3f3;
    border: none;
    padding: 12px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-bar-right-content{
    justify-content: flex-end;
}

.main-header{
    /* margin: auto 9%; */
    color: #22343D;
    font-size: 2.5em;
    font-weight: 700;
    line-height: 60px; /* 150% */
}

.row-2-text, .row-2-img{
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
}

.content-right-col{
    width: 50%;
}

.subtitle{
    /* align-items:; */
    color: #22343D;
    font-size: 1.13em;
    font-weight: 400;
    line-height: 28px; /* 155.556% */
    /* width: 458px;
    height: 95px; */
    flex-shrink: 0;
    }

    .first-section{
        align-items: center;
        margin: auto;
    }

    .second-section{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        margin: auto;
        padding-top: 4em;
        background-image: url(".Images/sec-2-bg.png");
        background-size: contain;
        background-repeat: no-repeat;
        background-position: bottom;
    }

    .second-section > h2{
        color: #22343D;
        text-align: center;
        font-family: Poppins;
        font-size: 2em;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }

    .second-section > p {
        color: #22343D;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 26px; /* 162.5% */
        }

    /* .first-section-right-col {
        background-image: url("./Images/first-section-image.png");
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        align-content: center;
        
    } */

    .first-section-image{
        width: 95%;
    }

    .third-section-image{
        
    }

    .play-btn-img{
        position: relative;
        top: 4px;
        right: 2px;
    }

    .menu-icon > label > img {
        cursor: pointer;
    }

    .menu-icon{
        display: none;
        cursor: pointer;
    }

    #menu-collapse{
        display: none;
    }

    /* mobile from 810px  */

    @media screen and (max-width: 810px) {
        .menu-icon{
            display: flex;
        }

        .content-container{
            padding: 20px
        }

        .nav-bar-wrapper > .nav-bar-right-content{
            position: absolute;
            width: 100%;
            top: 80px;
            flex-direction: column;
            background-color: #ffffff;
            box-shadow: 3px 2px 3px rgba(0, 0, 0, 0.25);
            /* padding: 20px 10px; */
            border-radius: 10px;
            overflow-y: hidden;
            transition: all 0.4s ease;
        }

        .nav-bar-right-content > .row-center{
            position: relative;
            align-items: center;
            justify-content: center;
            flex-direction: column;
        }

        .nav-bar-right-content > .row-center > .nav-links-container{
            flex-direction: column;
            align-items: flex-start;
        }

        .nav-bar-right-content > .row-center > .nav-links-container > a{
            padding: 5px;
            display: block;
            width: 100%;
        }

        .nav-bar-right-content > .row-center > .nav-links-container > a:hover{
            text-decoration: underline;
        }

        .nav > #menu-collapse:not(:checked) ~ .nav-bar-wrapper > .nav-bar-right-content {
            height: 0;
        }

        .nav > #menu-collapse:checked ~ .nav-bar-wrapper > .nav-bar-right-content {
            max-height: 100vh;
            height: auto;
            padding: 20px 0px;
        }

        .section-row-4-col-item{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin: auto;
        }

    }

    @media screen and (max-width: 610px) {
        .first-section{
            flex-direction: column-reverse;
            justify-content: flex-start;
            /* align-items: center; */
            /* width: 100%; */
        }

        .row-2-text, .row-2-img{
            width: 100%;
            /* display: flex;
            justify-content: flex-start;
            align-items: center; 
            NO CHANGE*/
        }

        .section-row-4-col{
            display: flex;
            flex-direction:column;
            justify-content: flex-start;
            align-items: flex-start;
            margin: auto;
            padding-top: 4em;
        }

        .section-row-4-col > img {
            display: flex;
            justify-content: center;
        }
    }